<div id="main">
  <div class="head" style="color: white !important;"><h2 style="color: white !important;">Welcome <%=current_user.email%></h2></div>
</div>


<div class="dashboard-area">
  <div id="container">

    <!--&lt;!&ndash; Trigger the modal with a button &ndash;&gt;-->
    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

    <!--&lt;!&ndash; Modal &ndash;&gt;-->
    <!--<div id="myModal" class="modal fade" role="dialog">-->
      <!--<div class="modal-dialog">-->

        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <!--<h4 class="modal-title">Modal Header</h4>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
            <!--<p>Some text in the modal.</p>-->
          <!--</div>-->
          <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->

    <% @legacies.each do |legacy| %>
        <div class="user-box-1">
          <div class="user-box-active">

          </div>
          <strong class="feature-title">My Legacy</strong>
          <span class="feature-option"><a href="#" class="simple"><%= link_to 'Edit', edit_legacy_path(legacy) %></a> | <a href="#" class="red-option"><%= link_to 'Destroy', legacy, method: :delete, data: { confirm: 'Are you sure?' } %></a></span></div>
    <%end%>
    <div class="user-box-2">
      <div class="user-box-new">


      </div>
      <strong class="feature-title">Create New</strong>
    </div>


    <div class="clearfix"></div>










  </div>
</div>



</div>




</div>
<!--<div style="background:#0d334e; margin-top:100px; height:100px; overflow:hidden;"></div>-->






