.text {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font: 500 34px/43px 'Roboto', Arial, Helvetica, sans-serif;
}
html {
	height: 100%;
}
body {
	min-width: 320px;
	height: 100%;
	font: 16px/24px Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
body.bg-color {
	background: #0d334e;
}
#wrapper:after {
	content: "";
	display: block;
	clear: both;
}
#wrapper {
	position: relative;
	overflow: hidden;
}
#header {
	background: #0d334e;
	padding: 0;
}
#header h1 {
	margin: 0 0 0 -54px;
	height: auto;
}
#nav {
	overflow: hidden;
	padding: 56px 0 0;
}
#nav ul {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
	font-size: 16px;
	line-height: 38px;
}
#nav ul li {
	display: inline-block;
	vertical-align: top;
}
#nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0 30px;
	display: block;
	transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
	border-radius: 18px;
}
#nav ul li:hover a, #nav ul li.active a {
	background: #506c7f;
}
.intro-area {
	text-align: center;
}
.intro-area .text-area {
	text-align: left;
	color: #fff;
	padding: 0 0 0 13%;
	font: 25px/28px 'Roboto', Arial, Helvetica, sans-serif;
}
.intro-area .text-area p {
	margin: 0 0 5px;
	text-align: left;
}
.intro-area .text-area .btn-plan {
	font-size: 12px;
	line-height: 40px;
	background: #d12f2f;
	padding: 0 10px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
}
.intro-area .text-area .btn-plan:hover {
	background: #fff;
	color: #d12f2f;
	transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
}
.intro-area h2 {
	color: #fff;
	margin: 0;
	font: 500 32px/35px 'Roboto', Arial, Helvetica, sans-serif;
}
#header .image-area {
	overflow: hidden;
	margin: 10% 0 0;
	min-height: 280px;
}
#header .image-area img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
#header:after, .intro-area:after, #main:after {
	content: "";
	display: block;
	clear: both;
}
#footer {
	overflow: hidden;
}
#footer .footer-content {
    //asset-url("bg-map.png")
	background: #0d334e  50% 50% no-repeat !important;
	padding: 100px 0;
}
.block-hold.first {
	padding: 44px 0 70px 32px;
	background: asset-url("bg-border4.jpg") 0 72% no-repeat !important;
}
.block-hold.last {
	/*background: url(../images/bg-map.png) 50% 20px no-repeat;*/
	text-align: center;
	padding: 50px 0 142px;
	margin: 0 0 50px;
}
.block-hold.last p {
	margin: 0 0 10px;
}
.block-hold .btn-get {
	display: inline-block;
	vertical-align: top;
	line-height: 34px;
	font-size: 15px;
	padding: 0 18px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #0d334e;
	text-decoration: none;
	border: 1px solid #0d334e;
	position: relative;
	z-index: 2;
}
.block-hold.second .btn-get {
	float: right;
	color: #d32f2f;
	background: #fff;
	border: 1px solid #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 0 20px;
}
.block-hold .btn-get:hover {
	background: #fff;
	color: #0d334e;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
	transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
}
.block-hold.second .btn-get:hover {
	float: right;
	color: #fff;
	background: #d32f2f;
	border: 1px solid #fff;
}
.block-hold {
	position: relative;
	float: left;
	text-align: left;
}
.block-hold.first:after {
	position: absolute;
	left: 0;
	bottom: 0;
	background: asset-url("bg-border1.jpg") 3px 0 no-repeat !important;
	width: 637px;
	height: 67px;
	content: "";
}
.block-hold.second:after {
	position: absolute;
	right: 0;
	bottom: -67px;
	background: asset-url("bg-border2.jpg") no-repeat !important;
	width: 634px;
	height: 67px;
	content: "";
}
.block-hold.third:after {
	position: absolute;
	right: 0;
	bottom: -67px;
	background: asset-url("bg-border2.jpg")  no-repeat !important;
	width: 634px;
	height: 67px;
	content: "";
}
.block-hold.last:after {
	position: absolute;
	left: 0;
	bottom: 0;
	background: asset-url("bg-border3.png")  no-repeat !important;
	width: 637px;
	height: 170px;
	content: "";
}
.block-hold.second.add:after {
	position: absolute;
	left: 0;
	bottom: -67px;
	background: asset-url("bg-border2.jpg") no-repeat !important;
	width: 634px;
	height: 67px;
	content: "";
}
#main .landing-area .block-hold h2 {
	margin: 0 0 5px;
	color: #616161;
	font: 500 35px/40px 'Roboto', Arial, Helvetica, sans-serif;
	background: none;
	padding: 0;
}
#main .landing-area .block-hold.second h2 {
	color: #fff;
}
.block-hold p {
	margin: 0;
}
.block-hold.second p {
	margin: 0 0 10px;
	text-align: justify;
}
.block-hold .textbox {
	overflow: hidden;
	padding: 0;
	color: #fff;
}
.block-hold.second .main-hold {
	background: #d32f2f;
	margin: 0 -9999px;
	padding: 20px 9999px;
	overflow: hidden;
}
.block-hold .image-area {
	overflow: hidden;
}
.block-hold .image-area img {
	display: block;
}
.block-hold.second.add .main-hold {
	background: #448aff;
	margin: 0 -9999px;
	padding: 30px 9999px;
	overflow: hidden;
}
.block-hold.second {
	margin: 0 0 63px;
}
.block-hold.third {
	margin: 0 0 63px;
}
.block-hold.third .textbox {
	color: #616161;
	padding: 0;
}
.block-hold.third .main-hold {
	background: #ebebeb;
	margin: 0 -9999px;
	padding: 0 9999px;
	overflow: hidden;
}
.block-hold.third .image-area {
	margin: -65px 0;
}
#footer .footer-content .title {
	text-align: center;
	color: #e7ecef;
	margin-bottom: 15px;
	font: 500 20px/40px "Roboto", Arial, Helvetica, sans-serif;
	display: block;
}
#footer .footer-content ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
}
#footer .footer-content ul li {
	margin: 0 0 10px;
}
#footer .footer-content ul li a {
	text-decoration: none;
	color: #e26e71;
}
#footer .footer-content ul li a:hover {
	color: #fff;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
}
.wow:first-child {
	visibility: hidden;
}
.landing-area .container .block-hold .same {
	float: none;
	display: inline-block;
	vertical-align: middle;
	width: 49.6%;
}
.intro-area .container .same {
	float: none;
	display: inline-block;
	vertical-align: middle;
	width: 49.6%;
}
.header-hold {
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
}
.signup {
	width: 100%;
	position: relative;
	min-height: 100%;
}
.bg-body {
	height: 100%;
	width: 100%;
}
.signup-form {
	position: absolute;
	width: 494px;
	background: #fff;
	left: 50%;
	top: 165px;
	margin: 0 0 0 -247px;
	z-index: 2;
	text-align: center;
	padding: 55px 40px 32px;
}
.signup-form h2 {
	color: #616161;
	margin: 0;
	font: 500 33px/36px 'Roboto', Arial, Helvetica, sans-serif;
}
.signup-form .row {
	border-bottom: 2px solid #d7d7d7;
	padding: 45px 0 16px;
}
.signup-form .row.add {
	border-bottom: none;
}
.signup-form [type="submit"] {
	background: #0d334e none repeat scroll 0 0;
	border: 1px solid #0d334e;
	box-shadow: 0 0 15px 0 rgba(13, 51, 78, 0.3);
	-webkit-box-shadow: 0 0 15px 0 rgba(13, 51, 78, 0.3);
	-moz-box-shadow: 0 0 15px 0 rgba(13, 51, 78, 0.3);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: top;
	width: 245px;
}
.signup-form [type="submit"]:hover {
	background: #fff;
	color: #0d334e;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
	transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
}
.signup-form input[type="text"] {
	background: none;
	border: none;
	color: #616161;
	font: 19px/22px "Roboto", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0 24px;
	width: 100%;
}

.signup-form input[type="email"] {
  background: none;
  border: none;
  color: #616161;
  font: 19px/22px "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 24px;
  width: 100%;
}

.signup-form input[type="password"] {
  background: none;
  border: none;
  color: #616161;
  font: 19px/22px "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 24px;
  width: 100%;
}

.signup-form .note {
	color: #616161;
	font: 19px/22px "Roboto", Arial, Helvetica, sans-serif;
}
.signup-form .note a {
	text-decoration: none;
	color: #0d334e;
}
.signup-form .note a:hover {
	color: #616161;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
}
#main h2 {
	margin: -40px 0 0;
	font: 500 34px/36px 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
	background: #0d334e;
	padding: 0 0 45px;
}
.form-block:after, .bankinfo-form .row {
	content: "";
	display: block;
	clear: both;
}
.form-block {
	padding: 78px 0 78px;
	text-align: left;
}
.bankinfo-form .row {
	border-bottom: 2px solid #d7d7d7;
	padding: 50px 0 30px;
}
.bankinfo-form.userinfo-form .row.add {
	border: none;
}
.bankinfo-form input[type="text"] {
	color: #616161;
	font: 19px/22px 'Roboto', Arial, Helvetica, sans-serif;
	border: none;
	background: none;
	margin: 0;
	padding: 0 24px;
	width: 100%;
}
.bankinfo-form.userinfo-form .row .col {
	float: left;
	width: 25%;
}
.bankinfo-form .row.add {
	text-align: right;
}
.bankinfo-form [type="submit"] {
	width: 168px;
	height: 48px;
	border: 1px solid #0d334e;
	cursor: pointer;
	padding: 0;
	margin: 0;
	text-align: center;
	background: #0d334e;
	line-height: 48px;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
	-moz-box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
	box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
}
.bankinfo-form [type="submit"]:hover {
	background: #fff;
	color: #0d334e;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
	transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
}
.bankinfo-form [type="button"] {
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0 20px 0 0;
	text-align: center;
	background: none;
	color: #a4a4a4;
	display: inline-block;
	vertical-align: top;
	font: 500 22px/50px 'Roboto', Arial, Helvetica, sans-serif;
}
.bankinfo-form [type="button"]:hover {
	color: #0d334e;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
}
.congrats {
	max-width: 645px;
	overflow: hidden;
	margin: 0 auto;
	padding: 55px 70px 25px;
	position: relative;
}
.congrats .icon {
	width: 138px;
	margin: 0 auto 30px;
	overflow: hidden;
}
.congrats .icon img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.congrats .btn-close {
	background: asset-url("btn-close.jpg")  no-repeat !important;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
}
.congrats .btn-close:hover {
	opacity: 0.5;
}
.congrats .textbox {
	text-align: center;
	overflow: hidden;
	padding: 0 15px 40px;
	color: #999;
	line-height: 20px;
}
.congrats .textbox .title {
	display: block;
	color: #2d2d2c;
	font: 500 32px/36px 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0 0 12px;
}
.congrats .textbox p {
	margin: 0 0 5px;
}
.congrats .textbox p a {
	color: #49c795;
	text-decoration: none;
}
.congrats .textbox p a:hover, .congrats .text2 a:hover {
	color: #999;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
}
.congrats .text2 {
	overflow: hidden;
	border-top: 2px solid #ededed;
	padding: 16px 0 0;
	color: #999;
	text-align: center;
}
.congrats .text2 a {
	color: #7dc1f3;
	text-decoration: none;
}
/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom checkbox styles */
.chk-area {
	border: none;
	margin: 0 46px 0 0;
	float: left;
	width: 61px;
	height: 61px;
	background: #fff;
}
.chk-checked {
	background: asset-url("btn-tick.jpg")  no-repeat !important;
}
.chk-focus {
	border-color: #f00;
}
.chk-disabled {
	background: #eee;
}
.jcf-label-disabled {
	color: #ccc;
}
/* custom select styles */
.select-area {
	border: none;
	position: relative;
	cursor: default;
	height: 48px;
	float: left;
	width: 100% !important;
	font: 500 19px/48px 'Roboto', Arial, Helvetica, sans-serif;
	background: #0d334e;
	color: #fff;
}
.select-focus {
	border-color: #f00;
}
.select-area .center {
	float: left;
	padding: 0 10px 0 26px;
}
.select-disabled {
	background: #eee;
}
.select-area .select-opener {
	position: relative;
	background: #0d334e;
	float: right;
	height: 48px;
	width: 20px;
}
.select-options {
	white-space: nowrap;
	position: absolute;
	overflow: hidden;
	background: #fff;
}
.select-options .drop-holder {
	border: 1px solid #777;
	overflow: hidden;
	height: 1%;
}
.select-options ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.select-options ul li {
	width: 100%;
	float: left;
}
.select-options ul a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	cursor: default;
	color: #000;
	height: 1%;
}
.select-options .item-selected a, .select-options a:hover {
	text-decoration: none;
	background: #0d334e;
	color: #fff;
}
.bankinfo-form .row .col {
	float: left;
}
.userinfo-form h3 {
	color: #0d334e;
	margin: 0;
	font: 500 34px/37px 'Roboto', Arial, Helvetica, sans-serif;
}
.userinfo-form .hold-area {
	margin: 0 0 70px;
}
.userinfo-form .btn-plus {
	position: absolute;
	right: 7%;
	top: 50%;
	margin: -28px 0 0;
}
.userinfo-form .btn-plus:hover {
	opacity: 0.8;
}
.bankinfo-form.userinfo-form .row {
	position: relative;
}
.userinfo-form .select-hold {
	float: left;
}
.select-main {
	list-style: none;
	padding: 0;
	margin: -13px 0 0;
}
.select-main li {
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	overflow: hidden;
	margin: 0 5px;
	position: relative;
	font-size: 18px;
}
.controls-list {
	list-style: none;
	padding: 0 17%;
	margin: 0;
	overflow: hidden;
}
.controls-list li label {
	font: 700 44px/61px 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
}
.controls-list li {
	margin: 0 0 35px;
}
.controls-list li [type="button"] {
	border: 1px solid #fff;
	cursor: pointer;
	padding: 0;
	margin: 0;
	text-align: center;
	background: #fff;
	color: #d32f2f;
	font-size: 17px;
	line-height: 48px;
	font-weight: bold;
	float: right;
	width: 218px;
	height: 48px;
}
.controls-list li [type="button"]:hover {
	color: #fff;
	background: #d32f2f;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
	transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
}
.year-block {
	text-align: center;
	overflow: hidden;
}
.year-block .text {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font: 500 40px/43px 'Roboto', Arial, Helvetica, sans-serif;
}
.year-block .hold {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	border-bottom: 5px solid #fff;
	margin: 0 15px;
	padding: 0 0 5px;
	overflow: hidden;
}
.year-block [type="text"] {
	border: none;
	background: none;
	padding: 0 25px;
	margin: 0;
	width: 100%;
	color: #fff;
	font: 500 40px/43px 'Roboto', Arial, Helvetica, sans-serif;
}
.year-block .select-hold {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	margin: 0 14px 0 0;
}
.year-block .select-hold .select-area .center {
	float: left;
	padding: 0 10px 0 10px;
}
.year-block .select-hold .select-area .select-opener {
	width: 28px;
	height: 45px;
	background:  asset-url("btn-arrow.jpg") 0 50% no-repeat !important;
}
.year-block .select-hold .select-area {
	font: 700 40px/43px 'Roboto', Arial, Helvetica, sans-serif;
}
.year-block [type="button"] {
	border: 1px solid #fff;
	cursor: pointer;
	padding: 0;
	margin: 30px 0;
	text-align: center;
	background: #fff;
	color: #d32f2f;
	font-size: 17px;
	line-height: 48px;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	width: 218px;
	height: 48px;
}
.year-block [type="button"]:hover {
	color: #fff;
	background: #d32f2f;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
	transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
}
.quote-area:after {
	content: "";
	display: block;
	clear: both;
}
.quote-area {
	padding: 100px 0 100px;
}
.quote-area .left-area {
	float: left;
	border: 3px solid #e1e1e1;
	overflow: hidden;
	width: 70%;
}
.quote-area .right-area {
	float: right;
	width: 27%;
}
.quote-area .btn-get {
	width: 100%;
	height: 60px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: #00a651;
	text-decoration: none;
	display: block;
	font: 500 32px/60px 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0 0 25px;
	border: 1px solid #00a651;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
	-moz-box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
	box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
}
.quote-area .btn-get:hover {
	color: #00a651;
	background: #fff;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
	transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
}
.quote-area .payment {
	display: block;
	color: #616161;
	font: 700 32px/36px 'Roboto', Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 0 0 5px;
}
.quote-area .price {
	display: block;
	color: #616161;
	font: 500 30px/33px 'Roboto', Arial, Helvetica, sans-serif;
	text-align: left;
}
.quote-area .lagacy-area {
	background: #0d334e;
	margin: 0 0 -9999px 0;
	padding: 0 0 9999px 0;
	overflow: hidden;
	width: 36%;
	float: left;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
	-moz-box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
	box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
}
.quote-area .lagacy-area .hold {
	overflow: hidden;
	padding: 40px 10% 35px;
	text-align: left;
	color: #fff;
	font: 500 18px/26px 'Roboto', Arial, Helvetica, sans-serif;
}
.quote-area .lagacy-area p {
	margin: 0;
}
.quote-area .lagacy-area .title {
	display: block;
	color: #fff;
	font: 500 28px/31px 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0 0 5px;
}
.quote-area .lagacy-area .prices {
	color: #1fcd2b;
	display: block;
}
.quote-area .block1 {
	float: left;
	border-right: 1px solid #0d334e;
	width: 32%;
	padding: 60px 0 0;
	position: relative;
	min-height: 495px;
}
.quote-area .block1 .title, .quote-area .block2 .title {
	color: #616161;
	font: 500 20px/24px 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0 0 5px;
	text-align:center;
	display:block;
}
.quote-area .block1.block2 {
	float: right;
	width: 32%;
	border: none;
}
.quote-area .block1 .scroll-area {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 65% !important;
	background: #ebebeb;
}
.quote-area .block1.block2 .scroll-area {
	background: #d7d7d7;
	height: 60%;
}
.quote-area .block1 .scroll-area .price-counter,
.quote-area .block1 .scroll-area span {
	color: #616161;
	text-align:center;
    background: rgba(158, 158, 158, 1) !important;
	left:0;
	border:none;
	width:100%;
	font: 500 20px/24px 'Roboto', Arial, Helvetica, sans-serif;
	padding: 25px 5px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
	-moz-box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
	box-shadow: 0px 0px 15px 0px rgba(13, 51, 78, 0.3);
}
.ui-slider-vertical .ui-slider-handle {
	margin-bottom: 0 !important;
}
.year-block .button-area {
	overflow:hidden;
}
.year-block .down {
	display:inline-block;
	vertical-align:middle;
}
@media only screen and (max-width: 1400px) {
	.controls-list li label {
		font-size:30px;
		line-height:40px;
	}
	.chk-area {
		height:40px;
		width:40px;
		margin:0 40px 0 0;
	}
	.year-block .text {
		font-size:30px;
	}
	.year-block .select-hold .select-area {
		font-size:30px;
	}
	.chk-checked {
		background-size: 100% 100% !important;
	}
	#main h2 {
		font:500 30px/33px "Roboto",Arial,Helvetica,sans-serif;
		padding: 0 0 30px;
	}
	.form-block {
		padding:20px 0 40px;
	}
	.bankinfo-form .row {
		padding:30px 0 10px;
	}
	.bankinfo-form [type="submit"] {
		height:38px;
		line-height:38px;
	}
	.bankinfo-form [type="button"] {
		line-height:38px;
		font-size:20px;
	}
	.congrats .textbox {
		padding:0 15px 20px;
	}
	.congrats .icon {
		width:100px;
		margin: 0 auto 10px;
	}
	.congrats .textbox .title {
		font-size:20px;
		line-height:23px;
	}
	.congrats {
		padding:40px 70px 25px;
	}
	.userinfo-form .hold-area {
		margin:0 0 40px;
	}
	.userinfo-form .btn-plus {
		margin:-30px 0 0;
	}
	.bankinfo-form input[type="text"] {
		font-size:16px;
	}
	.select-area {
		font-size:16px;
		line-height:40px;
		height:40px;
	}
	.select-area .center {
		padding: 0 10px 0 20px;
	}
	.select-area .select-opener {
		height:40px;
		width:10px;
	}
	.userinfo-form h3 {
		font-size:30px;
		line-height:33px;
	}
	.signup-form {
		top:150px;
		padding:30px 40px;
	}
	.signup-form .row {
		padding:30px 0 10px;
	}
	.signup-form [type="submit"] {
		height:38px;
		line-height:38px;
		font-size:15px;
		width:200px;
	}
	.signup-form h2 {
		font-size:30px;
		line-height:33px;
	}
	.quote-area {
		padding: 50px 0;
	}
	.quote-area .lagacy-area .title {
		font-size:20px;
		line-height:23px;
	}
	.quote-area .lagacy-area .hold {
		font-size:14px;
		padding:30px 10% 30px;
	}
	.quote-area .block1 .title, .quote-area .block2 .title {
		font-size:18px;
		line-height:22px;
	}
	.quote-area .block1 {
		padding:40px 0 0;
		min-height:430px;
	}
	.quote-area .block1 .scroll-area .price-counter {
		padding:14px 5px;
		font-size:18px;
	}
	.quote-area .btn-get {
		height:38px;
		line-height:38px;
		font-size:18px;
	}
	.quote-area .payment {
		font-size:18px;
		line-height:22px;
	}
	.quote-area .price {
		font-size:18px;
		line-height:22px;
	}
	.quote-area .right-area {
		width:20%;
	}
	.quote-area .left-area {
		width:76%;
	}
	.controls-list li label {
		font-size:24px;
		line-height:30px;
	}
	.chk-area {
		width:30px;
		height:30px;
		margin:0 20px 0 0;
	}
	.controls-list {
		padding:0 22%;
	}
	.controls-list li [type="button"] {
		height:38px;
		line-height:38px;
		font-size:16px;
		width:150px;
	}
	.year-block [type="button"] {
		height:38px;
		line-height:38px;
		font-size:16px;
		width:150px;
	}
	.year-block .text {
		font-size: 24px;
	}
	.year-block .select-hold .select-area {
		font-size: 24px;
	}
	.year-block .down,
	.year-block .select-hold {
		vertical-align:top;
	}
	.year-block [type="text"] {
		font-size:24px;
		line-height:38px;
		padding:0 16px;
	}
    .year-block [type="number"] {
      font-size:24px;
      line-height:38px;
      padding:0 16px;
    }
	.year-block .hold {
		width:70px;
	}
	.controls-list li {
		margin:20px 0;
	}
}
@media only screen and (max-width: 1024px) {
.bg-body {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.bankinfo-form input[type="text"] {
	font-size:17px;
}

	.chk-checked {
		background-size: 100% 100%;
	}
	.controls-list li [type="button"],
	.year-block [type="button"] {
		width:160px;
		height:40px;
		line-height:40px;
	}
}
@media only screen and (max-width: 999px) {
.controls-list {
	padding: 0;
}
.year-block .text {
	font-size: 18px;
}
.year-block .select-hold .select-area {
	font-size: 18px;
}
.year-block [type="text"] {
	font-size: 18px;
	line-height:25px;
}
.year-block .hold {
	width: 60px;
	margin:0 5px;
}
.year-block [type="text"] {
	padding: 0 14px;
}
.quote-area .lagacy-area .hold {
	padding: 40px 5% 35px;
	font-size: 14px;
}
#main .landing-area .block-hold h2 {
	font-size: 26px;
	line-height: 29px;
}
.signup-form {
	top: 50px;
}
}
@media only screen and (max-width: 767px) {
#header {
	padding: 0;
	text-align: center;
}
#header h1 {
	margin: 0 auto;
}
#nav {
	padding: 0;
}
#nav ul {
	text-align: center;
	margin: 0 0 20px;
}
#header .image-area {
	margin: 0;
}
.intro-area .text-area {
	padding: 0;
	text-align: left;
}
.intro-area {
	padding: 0 0 25px;
}
.block-hold.first::after, .block-hold.second::after, .block-hold.third::after, .block-hold.second.add::after, .block-hold.last::after {
	display: none;
}
.block-hold.first {
	background: none;
	padding: 40px 0;
}
.block-hold, .block-hold.second {
	margin: 0;
}
.block-hold.second .main-hold, .block-hold.second.add .main-hold {
	padding: 40px 9999px;
}
.block-hold.third .textbox, .block-hold .textbox {
	padding: 0;
	text-align: left;
}
.block-hold.last {
	padding: 40px 0;
	margin: 0;
	background-size: 100% auto;
}
.block-hold.third .image-area {
	margin: 0;
	display: inline-block;
	vertical-align: top;
}
.block-hold.third .main-hold {
	text-align: center;
}
.block-hold.third .image-area img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.block-hold.third {
	margin: 0;
}
.block-hold.third .main-hold {
	padding: 40px 9999px;
}
.block-hold.second, .block-hold.second.add {
	text-align: center;
}
.block-hold .image-area {
	display: inline-block;
	vertical-align: top;
}
.block-hold.second .btn-get {
	float: left;
}
#header .image-area {
	margin: 40px 0 40px;
}
.header-hold {
	margin: 0 auto 20px;
}
.intro-area .container .same {
	display: inherit;
	width: auto;
}
.landing-area .container .block-hold .same {
	display: inherit;
	width: auto;
}
.form-block {
	padding: 20px 10px 50px;
	text-align: left;
}
#main h2 {
	font: 500 20px/23px "Roboto", Arial, Helvetica, sans-serif;
	margin: -20px 0 0;
	padding: 0 0 24px;
}
.bankinfo-form .row {
	padding: 30px 0 15px;
}
.congrats {
	padding: 50px 15px 20px;
}
.congrats .textbox {
	padding: 0 0 40px;
}
.bankinfo-form.userinfo-form .row .col {
	width: 100%;
	margin: 0 0 10px;
}
.bankinfo-form.userinfo-form .row.add2 {
	padding: 30px 0 60px;
}
.userinfo-form .btn-plus {
	bottom: 0;
	margin: 0;
	position: absolute;
	right: 7%;
	top: auto;
}
.chk-area {
	margin: 0 15px 0 0;
	width: 30px;
	height: 30px;
}
.controls-list li label {
	font-size: 18px;
	line-height: 30px;
}
.chk-checked {
	background-size: 100% 100%;
}
.controls-list li [type="button"], .year-block [type="button"] {
	width: 132px;
	height: 34px;
	line-height: 34px;
	float:none;
}
.quote-area .lagacy-area, .quote-area .block1, .quote-area .block1.block2, .quote-area .right-area, .quote-area .left-area {
	width: 100%;
}
.quote-area .lagacy-area {
	padding: 0;
	margin: 0;
}
.quote-area .block1 {
	padding: 40px 0 0;
}
.quote-area .block1 .title, .quote-area .block2 .title {
	font: 500 20px/24px "Roboto", Arial, Helvetica, sans-serif;
}
.quote-area .lagacy-area .title {
	font: 500 28px/31px "Roboto", Arial, Helvetica, sans-serif;
}
.quote-area {
	padding: 50px 0;
}
.bankinfo-form input[type="text"] {
	font-size: 14px;
}
.bankinfo-form [type="button"] {
	font-size: 19px;
	line-height: 40px;
}
.bankinfo-form [type="submit"] {
	font-size: 15px;
	height: 40px;
	line-height: 40px;
}
.congrats .textbox .title {
	font-size: 24px;
	line-height: 28px;
}
.block-hold.second p {
	text-align: left;
}
.select-main {
	margin: 5px 0 0 20px;
	float: left;
}
.select-main li {
	margin: 0 2px;
}
.select-area {
	font: 500 14px/30px "Roboto", Arial, Helvetica, sans-serif;
	height: 30px;
}
.select-area .center {
	float: left;
	padding: 0 10px 0 16px;
}
.select-area .select-opener {
	height: 30px;
	width: 5px;
}
.userinfo-form .hold-area {
    margin: 0 0 36px;
}
.userinfo-form h3 {
    font: 500 26px/29px "Roboto",Arial,Helvetica,sans-serif;
}
.year-block .down {
	display:block;
	text-align:center;
}
}
@media only screen and (max-width: 520px) {
.signup-form {
	width: 300px;
	margin: 0 0 0 -150px;
	padding: 30px 15px 30px;
	top: 20px;
}
.signup-form .row {
	margin: 0;
}
.signup-form .note {
	font-size: 15px;
}
.signup-form input[type="text"] {
	font-size: 15px;
}
.year-block .text {
    font-size: 15px;
}
.year-block .select-hold .select-area {
    font-size: 14px;
}
}
.year-block [type="number"] {
  border: none !important;
  background: none;
  margin: 0;
  color: #fff;
  padding: 0px 12px;
  font: 500 40px/43px 'Roboto', Arial, Helvetica, sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline: none;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}
input:focus {
  outline:none !important;
}
.select-area {
  font-size: 30px;

}
.ui-slider-handle{

  background: grey;
}
.coverage-amount {
  color: #616161;
  text-align:center;
  background: #ffffff !important;
  left:0;
  border:none;
  width:100%;
  font: 500 20px/24px 'Roboto', Arial, Helvetica, sans-serif;
  padding: 0px 0px;

}